body {
    background-image: url('https://www.pakutaso.com/shared/img/thumb/PAK76_aoihikarito220150218182340_TP_V.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
    font-family: Arial, sans-serif;
}

header {
    text-align: center;
    padding: 9px;
    background-color: rgba(255, 255, 255, 0.5);
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

section {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 50px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form {
    display: flex;
    flex-direction: column;
}

input {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}